.headerTop,
.headerTop * {
  box-sizing: border-box;
}
.headerTop {
  color: #ffffff;
  text-align: left;
  font-family: "Unbounded-Black", sans-serif;
  font-size: 2rem;
  font-weight: 900;
  position: relative;
}