.headerTop,
.headerTop * {
  box-sizing: border-box;
}
.headerTop {
  color: #ffffff;
  text-align: left;
  font-family: "Unbounded", sans-serif;
  font-size: 2rem;
  font-weight: 900;
  position: relative;

  @media (max-width: 1000px) {
    font-size: 1.7rem;
  }

  @media (max-width: 900px) {
    font-size: 1.5rem;
  }

  @media (max-width: 768px) {
    font-size: 1.2rem;
  }

  @media (max-width: 640px) {
    font-size: 1rem;
  }

  @media (max-width: 500px) {
    font-size: 0.8rem;
    padding: 0.3rem;
  }
}